### 1. Write a Python program to find sum of elements in list

In [1]:
lst = [23,9,65,87,596,36,589,45]
sum = 0

for i in lst:
    sum = sum+i
    
print(sum)

1450

### 2. Write a Python program to  Multiply all numbers in the list

In [2]:
lst = [23,9,65,87,6,36,5,45]
sum = 1

for i in lst:
    sum = sum*i
    
print(sum)

56890431000

### 3. Write a Python program to find smallest number in a list

In [3]:
lst = [23,9,65,87,6,36,5,45]
s = lst[0]

for i in lst:
    if s <= i:
        continue
    else:
        s = i
        
print("Smallese number in the list is : ",s)

Smallese number in the list is :  5

### 4. Write a Python program to find largest number in a list

In [4]:
lst = [23,9,65,87,596,36,589,45]
s = lst[0]

for i in lst:
    if s >= i:
        continue
    else:
        s = i
        
print("Smallese number in the list is : ",s)

Smallese number in the list is :  596

### 5. Write a Python program to find second largest number in a list

In [6]:
lst = [23,9,65,87,596,36,589,45]

lst.sort()
print("2nd largest number in the list is : ",lst[-2])

2nd largest number in the list is :  589

### 6. Write a Python program to find N largest elements from a list

In [5]:
n = int(input("Enter the number between 1 to 10"))

lst = [23,9,65,87,596,36,589,45,66,485]
lst.sort()

if (n >1 and n<10):
    print(n,"th largest number in the list is : ", lst[-n])
else:
    print("Reexecute the program and enter number between 1 to 10")

Enter the number between 1 to 108
8 th largest number in the list is :  36

### 7. Write a Python program to print even numbers in a list

In [7]:
lst = [23,9,65,87,596,36,589,45,66,485]

print("Even numbers in the list are")
for i in lst:
    if (i%2 == 0):
        print(i)

Even numbers in the list are
596
36
66

### 8. Write a Python program to print odd numbers in a List

In [8]:
lst = [23,9,65,87,596,36,589,45,66,485]

print("Odd numbers in the list are")
for i in lst:
    if (i%2 != 0):
        print(i)

Odd numbers in the list are
23
9
65
87
589
45
485

### 9. Write a Python program to Remove empty List from List

In [9]:
lst = [23,9,65,[],87,596,36,[],589,45,[],66,485]

print("Original list is :",lst)

new_lst = list(i for i in lst if i!=[])
print("New list after removing empty list is : ",new_lst)

Original list is : [23, 9, 65, [], 87, 596, 36, [], 589, 45, [], 66, 485]
New list after removing empty list is :  [23, 9, 65, 87, 596, 36, 589, 45, 66, 485]

In [10]:
lst

[23, 9, 65, [], 87, 596, 36, [], 589, 45, [], 66, 485]

### 10. Write a Python program to Cloning or Copying a list

In [15]:
lst = [23,9,65,[],87,596,36,[],589,45,[],66,485]

new_lst = lst

new_lst

[23, 9, 65, [], 87, 596, 36, [], 589, 45, [], 66, 485]

### 11. Write a Python program to Count occurrences of an element in a list

In [17]:
lst = [23,9,10,87,10,36,589,45,10,485,10]
x = 10
count = 0

for i in lst:
    if (x == i):
        count += 1
        
print("{} has occurred {} times in the list".format(x,count))

10 has occurred 4 times in the list